@charset "UTF-8";

@font-face{
    font-family: YouAndI;
    src: url('../fonts/YouandiModernTR.eot');
    src: local('※'),
        url('../fonts/YouandiModernTR.woff') format('woff'),
        url('../fonts/YouandiModernTR.ttf') format('truetype')
}

html,
body{
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: YouAndI;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}
ul{
    list-style: none;
}
button,
input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
a:link,
a:visited,
a:hover,
a:active{
    color: inherit;
    text-decoration: none;
}
